{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'GardenGuideApp/css/GardenGuideApp_BaseStyle.css' %}"> <!--other templates will inherit this css-->

    <title>
        {% block title %} GardenGuide {% endblock %}
    </title>
</head>
<body>
    <!-- Navbar -->
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <a class="navbar-brand" href="{% url 'GGhome' %}">GardenGuide</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'GGhome' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'search' %}">Plant Search</a>

                    <!--Dropdown menu to group links to form pages-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to My Garden </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-item nav-link" href="{% url 'new_plant' %}">Add a Plant</a>
                                <a class="nav-item nav-link" href="{% url 'growing' %}">Add Growing Details</a>
                            </div>
                    </li>

                    <a class="nav-item nav-link" href="{% url 'GG_plant_index' %}">My Garden</a>
                    <a class="nav-item nav-link" href="{% url 'GG_growing_index' %}">See all growing details</a>

                </div>
            </div>
        </nav>
    {% endblock %}

    <!-- Header titles -->
    <div class="container-fluid titles">
        <h1>{% block header %}{% endblock %}</h1>
        <h4>{% block subheader %}{% endblock %} </h4>
    </div>

    <!-- Main content block -->
    <div class="container border border-light bg-dark text-light pb-3 main_body" id="plant_search">
        {% block maincontent %}{% endblock %}
    </div>

    <!-- Secondary content block -->
    <div class ="container border border-light bg-dark text-light pb-3 second_body" id="about">
        <p>{% block secondcontent %}{% endblock %}</p>
    </div>

    <!-- Footer -->
    <div>
        <footer id="footer" class="bg-success">
            <h6>~LennieCottrell/Tech Academy © 2020</h6>
        </footer>
    </div>

<!-- Bootstrap script requirements -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'GardenGuideApp/JS/GardenGuideApp.js'%}"></script>
</body>
</html>

