{% extends "GardenGuideApp/GardenGuideApp_base.html" %}
{% load staticfiles %}

{% block title %} GardenGuide {% endblock %}

{% block header %} Welcome to GardenGuide {% endblock %}

{% block subheader %} Track your garden, search for plants, learn about growing conditions, and more. {% endblock %}

{% block maincontent %}

    <div id="about">
        GardenGuide is a webapp to track your own garden.
        Add the plants you have and details about your garden conditions. You can also learn more about seasonal fruits and vegetable in in Oregon (more states coming soon!)
    </div>

{% endblock %}

{% block secondcontent %} This site is under construction {% endblock %}
